
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tata Steel</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    @RenderBody()
    <!-- Favicons -->
    @Styles.Render("~/img/favicon.png")
    @Styles.Render("~/img/apple-touch-icon.png")

    <!-- Google Fonts -->
    @Styles.Render("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i")

    <!-- Bootstrap CSS File -->
    @Styles.Render("~/lib/bootstrap/css/bootstrap.min.css")

    <!-- Libraries CSS Files -->
    @Styles.Render("~/lib/animate/animate.min.css")
    @Styles.Render("~/lib/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/lib/ionicons/css/ionicons.min.css")
    @Styles.Render("~/lib/magnific-popup/magnific-popup.css")

    <!-- Main Stylesheet File -->
    @Styles.Render("~/css/style.css")

    <!-- =======================================================
      Theme Name: Avilon
      Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

    <!--==========================
      Header
    ============================-->
    
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">Tata Steel</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Create", "Create", "Employee")</li>
                    <li>@Html.ActionLink("List", "Index", "Employee")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
        
    </header><!-- #header -->
